{% extends 'layout/layout.twig' %}

{% block body %}
	<!-- top menu -->
	<div class="ui primary top attached pointing menu">
		<a class="header item" href="/admin">LoistoTxt</a>

		<!--	<div id="file" class="ui dropdown item">
							<div class="text">Show</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="new">New</div>
								<div class="item" data-value="open">
									Open...
								</div>
								<div class="item" data-value="save">
									Save...
								</div>
							</div>
						</div> -->

		<a class="browse item">
			Create titles
			<i class="dropdown icon"></i>
		</a>
		<div class="ui popup">
			<div style="width: 60vw;" class="ui one column divided grid">
				<div class="row">
					<div class="column">
						<div class="ui form list">
							<div class="ui right action left icon fluid input">
								<i class="user icon"></i>
								<input id="title1" type="text" placeholder="">
								{% if titleData.titles %}
									<div id="loadTitle1" class="ui basic floating dropdown button">
										<div class="text">Load</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											{% for item in titleData.titles %}
												<div class="item">{{item}}</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
								<button class="ui icon button" onclick="$('#title1').val('');">
									<i class="delete icon"></i>
								</button>
							</div>
							<div class="ui right action left icon fluid input">
								<i class="info icon"></i>
								<input id="sub1" type="text" placeholder="">
								{% if titleData.subs %}
									<div id="loadSub1" class="ui basic floating dropdown button">
										<div class="text">Load</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											{% for item in titleData.subs %}
												<div class="item">{{item}}</div>
											{% endfor %}
										</div>
									</div>
								{% endif %}
								<button class="ui icon button" onclick="$('#sub1').val('');">
									<i class="delete icon"></i>
								</button>
							</div>
						</div>
					</div>											
					<button id="toggleTitlesButton" class="ui inverted green button" onclick="toggleTitles();">Show Title</button>						
					
				</div>
			</div>
		</div>

		<!-- right menu -->
		<div class="right menu">
			<div class="item">
				<div class="ui inverted buttons">
					<button class="ui icon button" onclick="prevText();">
						<i class="step backward icon"></i>
					</button>

					<button class="ui icon button" onclick="nextText();">
						<i class="step forward icon"></i>
					</button>
				</div>
				<div style="width: 1rem;"></div>

				<div class="ui buttons">
					<button id="blackout" class="ui black basic button" onclick="clearText();">
						Clear
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- menu -->


	<!-- Grids -->

	<!-- <div class="ui three column grid" id="content" > -->
		<div class="ui two column grid" id="content"> <div class="ui eight wide column">
			<div class="row">
				<div class="ui inverted basic segment" style="overflow-y: none">
					<div id="preview" data-url="/" class="ui 16:9 embed" style="background: gray; border: 1px solid black;"></div>
				</div>
			</div>

			<div class="row">
				<div id="col1" class="ui inverted basic segment" style="overflow-y: auto">
					<h1 class="ui inverted header">Songs</h1>
					<button class="ui basic inverted button" onclick="createNewSong();">Add New</button>
					<div id="allSongs" class="ui slides list"></div>
				</div>

			</div>
		</div>

		<div class="ui five wide column" style="display: none;">
			<div id="col2" class="ui inverted basic segment" style="overflow-y: auto">
				<h1 class="ui inverted header">Show</h1>
				<div id="show" class="ui slides list"></div>

			</div>
		</div>

		<div class="center aligned eight wide column">
			<div id="col3" class="ui inverted basic segment" style="overflow-y: auto">
				<h1 class="ui inverted header">Lyrics</h1>
				<div id="song" class="ui list"></div>
				<br><br><br><br>
			</div>
		</div>
	</div>
</div>
<!-- menu -->
<div
	class="ui small primary bottom fixed pointing menu">
	<!-- 
			<div class="item" style="width: fit-content;">
				<div class="ui text">Teksti ruudulle</div>
				<form class="ui fluid action input" onsubmit="return update(event);">
					<input style="width: 400px !important;" id="text" type="text" value="">
					<button type="submit" class="ui small basic green button">Go</button>
				</form>
			</div> -->

	<div id="sceneList" class="item"></div>

	<div class="right menu">
		<div class="item">

			<div class="ui inverted buttons">
				<button class="ui icon button" onclick="prevText();">
					<i class="step backward icon"></i>
				</button>

				<button class="ui  icon button" onclick="nextText();">
					<i class="step forward icon"></i>
				</button>
			</div>

		</div>
		<div class="item">
			<div style="width: 1rem;"></div>

			<button id="blackout" class="ui black basic button" onclick="clearText();">
				Clear
			</button>

		</div>
	</div>
	<!-- menu -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/admin.js"></script>
{% endblock %}
