{% extends 'layout/plain.twig' %}

{% block head %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
		
		html,
		body {
			background: none;
			overflow: hidden;
		}

		.helper h1 {
			padding: 0;
			margin: 0;
			font-size: 3vw;
			text-align: center;
			color: white;
			font-family: "Arial";
			font-weight: 700;
			text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
		}

		.helper {
			position: absolute;
			bottom: 10%;
			text-align: center;
			width: 100%;
		}

		.fix {
			animation-duration: 2s;
		}

		#titles {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			overflow: hidden;
			display: none;
		}

		.title1, .title2 {
		/*	font-family: 'Finger Paint' !important; */
		}

	</style>
{% endblock %}

{% block body %}
	<div id="titles" class="animated">
	{{ titles }}
	</div>

	<div class="helper">
		<h1 id="text0"></h1>
	</div>

	<div class="helper">
		<h1 id="text1"></h1>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect();
		var serverOptions = {};
		var oldTitleStatus = false;
		var index = 0;

		socket.on("update", data => {
		oldTitleStatus = serverOptions.showTitle;
		serverOptions = data;
		$("#text" + (index % 2)).fadeOut();
		index++;
		renderView();
		});

function renderView() {
	if (serverOptions.showTitle === true && (serverOptions.titles.title1 || serverOptions.titles.title2)) {
		$("#text").html("");
		showTitles();
		return;
	} else {
		hideTitles();
	}

	if (serverOptions.showTitle === false && oldTitleStatus === true) { 
		setTimeout(() => {
			$("#text" + (index % 2)).html(serverOptions.currentText).fadeIn();
		}, 1250);
	} else {
		setTimeout(() => {
			 $("#text" + (index % 2)).html(serverOptions.currentText).fadeIn();
		}, 300);
	}
}
</script>
<script>
	const animIn = "fadeIn fix";
	const animOut = "fadeOut fix";

	function showTitles() {
		$("#titles").html(serverOptions.titles.svg);
		
		document.getElementsByClassName("title1")[0].textContent = serverOptions.titles.title1;
		document.getElementsByClassName("sub1")[0].textContent = serverOptions.titles.sub1
	//	document.getElementsByClassName("title2")[0].textContent= serverOptions.titles.title2;
	//	document.getElementsByClassName("sub2")[0].textContent = serverOptions.titles.sub2;
		$('#titles').css("display","block");
		$('#titles').removeClass(animOut).addClass(animIn);
	}

	function hideTitles() {
		$('#titles').addClass(animOut).removeClass(animIn);
	}
</script>
{% endblock %}
