body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background: #1b1c1d;
}

html {
  min-height: 100%;
}

iframe {
  border: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#song .item .content {
  padding: 0.5rem;
  margin: 3px 0;
  box-shadow: none;
}

.slides .ui.green.message {
  background: #114117;
  border: 1px solid black;
}

.ui.gray.message.active {
  background: #114117;
  color: #1ebc30;
  border: 1px solid black;
}

.ui.gray.message {
  background: #333;
  border: 1px solid black;
}

.gpu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.item.active {
  background: skyblue;
}

.ui.inverted.black.button {
  color: black;
}

.textarea {
  resize: none;
}

#showDialog .ui.list .item {
  padding: 0.5rem;
}
.dataTable tbody tr:hover {
  background: skyblue;
}

#showDialog .ui.list .item:hover {
  background: skyblue;
}

#allSongs .message {
  margin: 0;
}

.ui.inverted.segment .verse {
  background: rgb(53, 54, 54);
}

#songeditor .red.button {
  background: maroon;
}
