body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background: #1b1c1d;
}

html {
  height: 100%;
}

iframe {
  border: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#song .item .content {
  padding: 0.5rem;
  margin: 3px 0;
  box-shadow: none;
}

.slides .ui.green.message {
  background: #114117;
  border: 1px solid black;
}

.ui.gray.message.active {
  background: #114117;
  color: #1ebc30;
  border: 1px solid black;
}

.ui.gray.message {
  background: #333;
  border: 1px solid black;
}

.gpu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.item.active {
  background: skyblue;
}

.ui.inverted.black.button {
  color: black;
}

.textarea {
  resize: auto;  
  height: 9em;
}

#showDialog .ui.list .item {
  padding: 0.5rem;
}
.dataTable tbody tr:hover {
  background: skyblue;
}

#showDialog .ui.list .item:hover {
  background: skyblue;
}

#allSongs .message {
  margin: 0.5rem;
}

.ui.inverted.segment .verse {
  background: rgb(53, 54, 54);
}

#songeditor .red.button {
  background: maroon;
}

.helper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

#bgvid, #bg, .fsimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bgvid, #bg {
  z-index: 0;
}

#blackoutLayer {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: black;  
}
