<!DOCTYPE html>
<html>
	<head>
		<title>LoistoTxt</title>
		<script src="/javascripts/jquery.min.js"></script>
		<link rel='stylesheet' href='/semantic/semantic.min.css'/>
		<link rel="stylesheet" href="/stylesheets/animate.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/> 
		{% block head %}{% endblock %}
		</head>
		<body>
			{% block body %}{% endblock %}
			{% block scripts %}{% endblock %}
		</body>
	</html>
